body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.game-wrapper {
    display: inline-block;
    position: relative;
    margin: 10px auto;
}
#canvas {
    box-shadow: 0 0 8px 0 #000000;
}
canvas:focus {
    border: none;
    outline: none;
}
.score {
    text-align: left;
    position: absolute;
    bottom: 9px;
    left: 8px;
    color: #000000;
    opacity: .7;
}